.btn-success:hover {
    color: #fff;
    background-color: #6304ab;
    border-color: #6304ab;
}

.btn-success {
    color: #fff;
    background-color: #6304ab;
    border-color: #6304ab;
}
.pull-left {
    float: left;
}
.w-70 {
    width: 70%;
}
.pull-right input {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}
button.btn.btn-info, .btn-success:hover {
    color: #6304ab;
    border-color: #6304ab;
    background: transparent;
}

button.btn.btn-info:hover {
    color: #fff;
    border-color: #6304ab;
    background: #6304ab;
}
.pull-right {
    float: right;
    display: inline-block;
    text-align: right;
}